.App {
  /* text-align: center; */
  font-family:Roboto Condensed ;
  font-size: small;
  background-image: url(./Assets/43.8dns49ke.jpg);
  
}
.card-container{
  display: grid;
  grid-template-columns: 230px 230px 230px;
  gap: 20px;
  justify-content: center;
  padding: 1%;
  
}

